#Button{
    height:100px;
    width:100px;
    font-size:50px;
    border:1px solid black;
    text-align:center;
    cursor: pointer;

    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-select: none;
}
#Button:hover{
    background-color:gainsboro;
}



#line{
    display:flex;
     align-items: left;
}

#indicator{
    
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-select: none;
    border:1px solid black;
    text-align:center;
    font-size:50px;
    display:flex;
    height:100px;
    width:405px;
}